@import '../../../../styles/styles.scss'; 


.app-card { 
    background-color: white; 
    padding: $standard-padding-x2;
    margin: $standard-padding-x2;
    border-radius: $standard-rounding;

    // &.__title {
        
    // }
}  
    
