
$primary-color: #8b32a8;
$primary-color-darker: #7a2197;
$primary-color-lighter: #9c43b9;

$light-gray: #ebebeb; 
$gray: gray; 
$font-color: #252525;

$standard-padding: 8px;
$standard-padding-x2: 16px; 
$standard-padding-x3: 24px;
$standard-input-width: 480px;
$standard-input-height: 48px;

$standard-rounding: 8px;

body {
  background-color: $light-gray;
}

h2 {
  color: $primary-color;
}

input {
  border-radius: $standard-rounding;
  border: none;
  height: $standard-input-height;
  padding: $standard-padding;
  width: $standard-input-width;
  background-color: $light-gray; 

  &:hover {
    border: $primary-color solid 2px; 
  }

  &:active {
    border: $primary-color solid 2px; 
  }

  &:focus-visible {
    border: $primary-color solid 2px; 
  }
}

.clickable {
  cursor: pointer;
}

.btn-link {
  text-decoration: none;
}

.text-right {
  text-align: right;
}