<app-card [title]="'buySell.auctionRegistration.sellerData'">
    <app-text-input 
        [formControl]="firstname" 
        [label]="'common.firstname'">
    </app-text-input>

    <app-text-input 
        [formControl]="name" 
        [label]="'common.name'">
    </app-text-input>

    <app-text-input 
        [formControl]="location" 
        [label]="'common.location'">
    </app-text-input>

    <app-text-input 
        [formControl]="email" 
        [label]="'common.email'">
    </app-text-input>

    <app-text-input 
        [formControl]="phone" 
        [label]="'common.phone'">
    </app-text-input>


</app-card>
