@import '../../../../styles/styles.scss'; 

.preview {
    max-width: 200px;
  }

input[type="file"] {
    display: none;
}

.custom-file-upload {
  border: 1px solid $primary-color;
  border-radius: $standard-rounding;
  display: inline-block;
  padding: $standard-padding-x3;
  cursor: pointer;
  margin: $standard-padding-x2;
}

.file-upload {
  display: flex;
  justify-content: center;
}

.file-upload-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}