<app-card [title]="'buySell.auctionRegistration.generalData'">
    <app-text-input 
        [formControl]="title" 
        [label]="'common.title'">
    </app-text-input>

    <app-amount-input 
        [formControl]="price" 
        [label]="'common.price'">
    </app-amount-input>


    <div *ngIf="category.value">
        <span>{{'common.selectedCategory' | translate}}</span>
        <span>{{category.value}}</span>
    </div>
    <div>
        <button type="button" class="btn btn-link" (click)="chooseCategory()">{{'common.category.choose'}}</button>
    </div>

    <app-text-area-input
        [formControl]="description" 
        [label]="'common.description'">
    </app-text-area-input>
</app-card>

