<app-view-header [label]="'buySell.auctionRegistration.addAuction'"></app-view-header>

<form [formGroup]="auctionForm"> 

    <auction-edit-general-data></auction-edit-general-data>

    <app-auction-edit-media (imagesUpdated)="imagesUpdated($event)"></app-auction-edit-media>

    <app-auction-edit-seller-data></app-auction-edit-seller-data>

    <app-form-buttons 
        [primaryLabel]="'common.save' | translate"
        [linkLabel]="'common.cancel' | translate"
        (primaryCallback)="save()"
        (linkCallback)="cancel()">
    </app-form-buttons>

</form>